{% extends "index.html" %}
{% block base %}
<div id="form_box">
    <p>Safety Debt Estimation:</p>
    <div id="numeric-status">{{ context3[0] }}</div> / 2 = <div id="numeric-status">{{ context3[1] }}</div> PLN
</div>
<div id="sideplots">
    <div id="plotly-PrintSavingsTrends"></div>
    <div id="plotly-PrintPreviousYearSavings"></div>
</div>
<div id="form_box">
    <p>Add New Investment</p>
    <form class="form_navi" method="POST" action="{{ url_for('NewInvestment')}}">
        <label>Date</label>
        <input type="date" name="investment_date" required="required">
        <label>Current Value</label>
        <input type="text" name="investment" required="required">
        <label>Goal</label>
        <input type="text" name="goal" required="required">
        <label>Description</label>
        <input type="text" name="description">
        <label>Was payed?</label>
        <input type="radio" name="waspayed" value="True">
        yes
        <input type="radio" name="waspayed" value="False" checked="checked">
        no
        <input type="submit" value="Submit">
    </form>
</div>
<table>
    <tr>
        <th>Date</th>
        <th>Value</th>
        <th>Goal</th>
        <th>Name</th>
        <th>wasPayed?</th>
        <th>Actions</th>
    </tr>
    {% for item in items %}
    <tr>
    <td> {{ item[2] }}</td>
    <td> {{ item[3] }}</td>
    <td> {{ item[4] }}</td>
    <td> {{ item[5] }}</td>
    <td> {{ item[6] }}</td>
    <td>
        <a href="{{ url_for('DeleteInvestment', id=item[0]) }}">Delete</a>
        <a href="{{ url_for('EditInvestment', id=item[0]) }}">Edit</a>
    </td>
    </tr>
    {% endfor %}
</table>
<script>
    //Parse your Json variable here
    var graphs1 = {{ context1 | safe }};
    var graphs2 = {{ context2 | safe }};
    Plotly.plot('plotly-PrintSavingsTrends', graphs1, {});
    Plotly.plot('plotly-PrintPreviousYearSavings', graphs2, {});
</script>
{% endblock %}